* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HEADER SETUP */

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background: linear-gradient(
    to bottom right,
    rgb(53, 87, 146),
    rgb(149, 201, 215)
  );
  padding: 0 10px 0 10px;
}

header img {
  width: 250px;
  height: 40px;
}

header #dark-mode-button {
  width: 42px;
  height: 42px;
  padding: 3px;
}

header #dark-mode-button:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(214, 212, 212, 0.3);
}

body {
  background-color: #f2f4f6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* MAIN CONTAINER SETUP */

#main-container {
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
  flex: 1;
  width: 90%;
}

.tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #e9e8e8;
}

.tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 14px;
  font-size: 18px;
  color: rgb(39, 39, 39);
}

.tabs button:hover {
  background-color: #ddd;
}

.tabs button.active {
  background-color: #cccccc;
}

.tabcontent {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
}

#encoder-container,
#decoder-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.io-containers {
  display: flex;
  flex-direction: column;
  width: 31%;
  padding: 10px 5px 0;
  margin: 5px 5px 0 5px;
}

.io-header {
  height: 45px;
  background-color: rgb(176, 215, 252);
  color: rgb(36, 67, 150);
  display: flex;
  padding-left: 15px;
  padding-right: 10px;
  align-items: center;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.io-header img {
  width: 30px;
  height: 30px;
  padding: 5px;
  filter: invert(40%);
}

.io-header img:hover {
  cursor: pointer;
  background-color: rgba(192, 206, 219, 0.2);
}

.io-body {
  height: 175px;
  background-color: rgb(255, 255, 255);
  padding: 10px 10px 10px 10px;
}

textarea {
  resize: none;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#algorithm-select {
  width: 100%;
  font-size: 16px;
  padding: 5px;
}

select:focus {
  outline: none;
}

#caesar-shift-input::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#caesar-shift-input:focus,
#vigenere-keyword-input:focus,
#substitution-input:focus {
  outline: none;
}

#vigenere-keyword-input,
#substitution-input,
#caesar-shift-input {
  height: 25px;
  padding: 3px;
  font-size: 15px;
  width: auto;
}

label,
#substitution-config p {
  font-size: 15px;
  color: rgb(39, 39, 39);
}

.submit-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.submit-button {
  width: 110px;
  height: 40px;
  margin: 10px;
  font-size: 18px;
  border-radius: 5px;
  color: rgb(36, 67, 150);
  background-color: rgb(176, 215, 252);
  border: 1px solid rgb(176, 215, 252);
}

.submit-button:hover {
  background-color: rgb(161, 197, 230);
  cursor: pointer;
}

/* FOOTER SETUP */

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 65px;
  background: linear-gradient(
    to bottom right,
    rgb(149, 201, 215),
    rgb(53, 87, 146)
  );
  font-size: 16px;
  color: rgb(221, 225, 230);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  user-select: none;
}

footer a {
  text-decoration: none;
}

footer a:visited {
  color: rgb(196, 198, 202);
}

/* DARK MODE */

.dark-mode {
  background-color: rgb(70, 70, 70);
  color: white;
}

.dark-mode header {
  background: linear-gradient(
    to bottom right,
    rgb(17, 89, 109),
    rgb(94, 122, 170)
  );
}

.dark-mode footer {
  background: linear-gradient(
    to bottom right,
    rgb(94, 122, 170),
    rgb(17, 89, 109)
  );
  color: rgb(243, 243, 243);
}

.dark-mode footer a:visited {
  color: rgb(202, 202, 202);
}

.dark-mode #dark-mode-button {
  filter: invert(100%);
}

.dark-mode .io-header {
  background-color: rgb(82, 119, 184);
  color: rgb(243, 243, 243);
}

.dark-mode .io-body,
.dark-mode textarea,
.dark-mode label,
.dark-mode #sub-p,
.dark-mode select {
  background-color: rgb(90, 90, 90);
  color: rgb(243, 243, 243);
}

.dark-mode .submit-button {
  background-color: rgb(82, 119, 184);
  border: 1px solid rgb(82, 119, 184);
  color: rgb(243, 243, 243);
}

.dark-mode .submit-button:hover {
  background-color: rgb(73, 153, 228);
}

.dark-mode .tabs {
  background-color: #f19252;
}

.dark-mode .tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 14px;
  font-size: 18px;
  color: rgb(39, 39, 39);
}

.dark-mode .tabs button:hover {
  background-color: #f18547;
}

.dark-mode .tabs button.active {
  background-color: #e47433;
}

.dark-mode .io-header img {
  filter: invert(100%);
}
